name: AWS CI

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

jobs:
  build:
    strategy:
      fail-fast: false
      matrix:
        os:
          - ubuntu-latest

        ocaml-compiler:
          - 4.08.x
          - 4.09.x
          - 4.10.x
          - 4.11.x
          - 4.12.x

    runs-on: ${{ matrix.os }}

    steps:
      - name: Checkout code
        uses: actions/checkout@v2

      - name: Use OCaml ${{ matrix.ocaml-compiler }}
        uses: ocaml/setup-ocaml@v2
        with:
          ocaml-compiler: ${{ matrix.ocaml-compiler }}

      - name: Install dependencies
        run: |
          opam install . --deps-only --with-test --yes

      - name: Build
        run: |
          opam exec -- dune build @all

      - name: Tests
        run: |
          opam exec -- dune build @runtest

      - name: Opam lint
        run: |
          opam lint aws.opam aws-lwt.opam aws-async.opam \
                    aws-autoscaling.opam aws-cloudformation.opam aws-cloudtrail.opam \
                    aws-cloudwatch.opam aws-ec2.opam aws-elasticache.opam \
                    aws-elasticloadbalancing.opam \
                    aws-rds.opam aws-route53.opam aws-sdb.opam aws-sqs.opam aws-ssm.opam aws-sts.opam
